<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserInfo</title>
</head>
<body>
<div align="center">
    <h2>User information</h2>
    <table border="1" cellspacing="0" cellpadding="10">
        <thead align="center">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr>
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getFirstName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getEmail()}"/>
        </tr>
        </tbody>
    </table>
    <hr>
    <button><a href="/people">Back</a></button>
    <button><a th:href="@{/people/{id}/edit(id=${user.getId()})}">Edit</a></button>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${user.getId()})}" style="margin-top: 10px">
        <input type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>